<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/assets/img/DevCenterLogo.png">
    <title>DevCenter</title>
    <%- include('style/theme') %>
</head>

<body>
    <h1>Hello</h1>
    <script src="assets/js/conect.js"></script>
</body>

</html>