<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="../assets/img/DevCenterLogo.png">
    <title>Settings - DevCenter</title>
    <%- include('style/theme') %>
</head>

<body>
    <script src="../assets/js/conect.js"></script>
</body>

</html>