<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/assets/img/DevCenterLogo.png">
    <title>Login</title>
    <%- include('style/light') %>
</head>

<body>
    <div class="container">
        <div class="box form-box">
            <header>Login</header>
            <form id="loginForm">
                <div class="field input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div class="field input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div class="field">
                    <button class="btn" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>

    <script src="assets/js/login.js"></script>
</body>

</html>