<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/assets/img/DevCenterLogo.png">
    <title>Login</title>
    <%- include('style/theme') %>
</head>

<body>
    <%- include('fragment/login') %>
    <script src="../assets/js/login.js"></script>
</body>

</html>