<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="http://localhost/assets/img/DevCenterLogo.png">
    <title>Register</title>
    <%- include('style/light') %>
</head>

<body>
    <div class="container">
        <div class="box form-box">
            <header>Register</header>
            <form>
                <div class="field input">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div class="field input">
                    <label for="nickName">Name</label>
                    <input type="text" id="nickName" name="nickName" required />
                </div>
                <div class="field input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div class="field">
                    <button class="btn" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>