<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="/assets/img/DevCenterLogo.png">
    <title>Register</title>
    <%- include('style/theme') %>
</head>

<body>
    <%- include('fragment/register') %>
    <script src="../assets/js/register.js"></script>
</body>

</html>